<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is hello</title>

    <link rel="stylesheet" href="/Sharedvolume/static/listcss/amazeui.min.css" />

</head>
<body>
    hello, welcome to use our template
    <div class="textDiv text-center">
                <form action="/helloAction/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="textDiv text-center">
                    Select an image : <input type="file" name="file" size="50" id='input1' onchange="showPreview(this)" />
                        <img id="portrait" src="" style="display:none;" />
                    Input remark: <input type="text" name="remark" placeholder="remark..." id="remark">
                        <input type="submit" value="Recognize" id='input'/>
                    </div>
                </form>
    </div>
 <!--rec results list-->

    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
                <tr>
                    <th>keyword</th>
                    <th>root</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX">
                    <td>{{ keyword1}}</td>
                    <td>{{ root1}}</td>
                    <td>{{ score1}}</td>
                </tr>
                <tr class="even gradeC">
                    <td>{{ keyword2}}</td>
                    <td>{{ root2}}</td>
                    <td>{{ score2}}</td>
                </tr>
                <tr class="gradeX">
                    <td>{{ keyword3}}</td>
                    <td>{{ root3}}</td>
                    <td>{{ score3}}</td>
                </tr>
                <tr class="even gradeC">
                    <td>{{ keyword4}}</td>
                    <td>{{ root4}}</td>
                    <td>{{ score4}}</td>
                </tr>
                <tr class="even gradeC">
                    <td>{{ keyword5}}</td>
                    <td>{{ root5}}</td>
                    <td>{{ score5}}</td>
                </tr>

                <!-- more data -->
            </tbody>
        </table>
    </div>


</body>
<script type="text/javascript">
  function showPreview(source) {
  var file = source.files[0];
  if(window.FileReader) {
   var fr = new FileReader();
  console.log(fr);
  var portrait = document.getElementById('portrait');
  fr.onloadend = function(e) {
  portrait.src = e.target.result;
  };
  fr.readAsDataURL(file);
  portrait.style.display = 'block';
  portrait.style.alignItems="center";
  portrait.style.alignSelf="center";
  portrait.style.alignContent="center";
  }
  }
</script>
</html>